
body{
  background-image: url(/assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
nav{
  float: right;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "Top Top Top Top"
      "Main Main Main Main"
      
    
  }
  .herotext {
    font-size: 120px;
    color: #4E84A6;
    padding-top: 6%;
   
}
.undertext{
    font-size: 24px;
    
}
.kontaktKnap{
 
  background-color: #FBB03B;
  text-decoration: none;
  border: none;
  padding: 5px 35px;
  font-size: 24px;
  border-radius: 30px;
}

  .Top { grid-area: Top; 
    
}
  .Main { grid-area: Main; 
text-align: center;

}

  
 



.Footer { grid-area: Footer; }




  